In [4]:
x=read.table("3d_id.csv",sep=';',quote="",comment.char="");
l=read.table("labs");
labs=as.character(l[1:5,1]);
labs=c("id",labs,paste(rep(c("x","y","z"),35),rep(1:35,rep(3,35)),sep="."));
names(x)=labs;
#make NAs
for (i in 7:111) x[x[,i]==-999,i] = NA;


#now all observationas are ready
summary(x[,2:8])

      COLLECTION        GROUP                 POP
 DONATED   :181            :716                 :635
 TERRY     :174   white    :173   Oloriz        :130
 OLORIZ    :130   black    : 53   black         :108
 Morton    :124   Turkey   : 33   Hispanic_Chile: 74
 UT_DONATED:118   Macedonia: 22   white         : 74
           : 99   (Other)  : 74   Cuba_African  : 27
 (Other)   :246   NA's     :  1   (Other)       : 24
                            RACE           SEX           x.1
                              :1001   male   :442   Min.   :-252.17
 Hispanic_Guatamala           :  21   female :295   1st Qu.:  29.28
 White                        :  15          :217   Median : 117.85
 hispanic_panama              :   8   M      : 48   Mean   :  83.27
 hispanic_peru                :   8   ?      : 43   3rd Qu.: 160.11
 hispanic_panama_afroantillean:   6   F      :  9   Max.   : 332.60
 (Other)                      :  13   (Other): 18   NA's   :15
      y.1
 Min.   :-262.12
 1st Qu.:-153.82
 Median :  28.72
 Mean   :  38.31
 3rd Qu.: 239.40
 Max.   : 368.16
 NA's   :15

These are basic stats. The first component of the first variable is all over the place, presumably the rotation invariant of the coordinates is needed for comparison.

In [5]:
#only 111 observations are complete?
table(is.na(apply(x[,7:111],1,sum)))

FALSE  TRUE
  111   961

We need to align (register) the measurements. This can be separated into three steps:
    - selecting origin
    - aligning two axis
    - possibly rescaling

Without loss of generality lets pick  the back of the cranium (point Lambda or number 16) as the origin. Other options may be better, e.g., centroid, but it is easier to explain.

In [11]:
#separate covariates
y=x[,1:7];

#now these are mostly non-missing measures
vs1 = c(0:4,8:14,16:19,26:33);
vs0=15;
origin = c(3*vs0,3*vs0+1,3*vs0+2)+7;
for (i in vs1){
  to = c(3*i,3*i+1,3*i+2)+7;
  y=cbind(y,x[,to]-x[,origin]);
}
#Make sure all are non-nissing
sel = is.na(apply(y[,-c(1:7)],1,sum));

In [12]:
# is there any pattern?
summary(x[sel,origin])

      x.16              y.16              z.16
 Min.   :-179.47   Min.   :-325.35   Min.   : 13.38
 1st Qu.:  10.25   1st Qu.:-196.10   1st Qu.:164.92
 Median :  89.15   Median :-176.03   Median :184.32
 Mean   :  63.75   Mean   : -42.71   Mean   :183.85
 3rd Qu.: 155.23   3rd Qu.: 176.14   3rd Qu.:199.84
 Max.   : 229.55   Max.   : 439.71   Max.   :280.53
 NA's   :13        NA's   :13        NA's   :13

Origin may be less varying if we pick one measurer/one apparatus, so it might help identifying who did the measurement

In [ ]:
Lets allign first axis based on the point lammda and widway between